.footer {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  border-top: 1px solid #e0e0e0;
  background-color: #0e0101;
  color: white;
  position: sticky;
}

.footer-item {
  text-align: center;
}

.footer-icon {
  font-size: 24px;
}
